# JWT signature key (must be base64-encoded, min 256 bits / 32 bytes)
JWT_SECRET=dDJ3U2VjcmV0S2V5TXVzdEJlQXRMZWFzdDMyQnl0ZXNMb25nRm9ySFMyNTZTZWN1cml0eVJlcXVpcmVtZW50Cg==

# PostgreSQL Database config
POSTGRES_PASSWORD=time2wish_password

# SendGrid API key (leave blank to fallback to writing HTML files in scratch/emails directory)
SENDGRID_API_KEY=
